<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/Logo-beatriz.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>Document</title>
</head>


<body>

    <i class="bi bi-list menu-mobile"></i>
    
    <aside id="header">
        <section class="profile">
            <img src="../static/img/bea.jpeg" alt="Foto da Beatriz">
            <h1>Beatriz Avelino</h1>

            <div class="social-link mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/beatriz-avelino-00/">
                    <i class="bi bi-linkedin"></i></a>

                <a target="_blank" href="https://github.com/beaavelino">
                    <i class="bi bi-github"></i></a>

                <a target="_blank" href="https://www.instagram.com/triizz__/">
                    <i class="bi bi-instagram"></i></a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#inicio"><i class="bi bi-house"></i> Incio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection"></i> Portifólio</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                  </li>
              </ul>
        </nav>

    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Beatriz Avelino</h2>
                <span id="subtitle" class="text-white">Desenvolvedora Jr Full Stack</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais...</a>
                </div>
            </div>

        </section>

        <section class="container-fluid mt-5" id="sobre">

            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3 ml-4">Sobre</h2>
                    <p class="center-justified ml-4">
                        Meu maior objetivo de vida é transformar o mundo através do meu aprendizado dentro
                         da tecnologia. Através de toda essa transformação eu posso trazer inovações com o 
                         conhecimento que vou adquirindo ao longo da minha trajetória. Quero ajudar a 
                         sociedade e ajudar aquelas pessoas que não tem acesso a tecnologia. Mostrar para o 
                         mundo o quanto é inovador viver nessa nova era e o quanto podemos melhorar dia após 
                         dia.  Sou uma mulher sonhadora, com vontade de buscar o que sempre sonhei e é
                         através de toda essa persistência que vejo a esperança de conquistar todos os 
                         objetivos.
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-3">
                    <img class="img-fluid ml-4" src="../static/img/seta.png" alt="Foto da Beatriz">
                </div>

                <div class="col-md-9">
                    <h3 class="mt-3">Desenvolvedora Java Jr Full Stack</h3>
                    <p class="mr-5 resumo mt-4">Sou formada pela Generation Brasil, e agora estou em busca da 
                        minha primeira oportunidade como Desenvolvedora no mercado de trabalho!
                    </p>

                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <ul class="list-group list-group-flush mr-5 fs-5">
                                <li class="list-group-item">
                                    Aniversário: 03 de Fevereiro de 2001
                                </li>

                                <li class="list-group-item">
                                    Idade: 20 anos
                                </li>

                                <li class="list-group-item">
                                    Cidade: São Paulo
                                </li>

                                <li class="list-group-item">
                                    Estado: SP
                                </li>

                                <li class="list-group-item">
                                    Nacionalidade: Brasileira
                                </li>
                              </ul>
                        </div>

                        <div class="col-md-6 mt-3">
                            <ul class="list-group list-group-flush mr-5">
                                <li class="list-group-item">
                                    Hobby: Desenhar e Escrever Poemas.
                                </li>

                                <li class="list-group-item">
                                    Uma Palavra: Otimismo
                                </li>

                                <li class="list-group-item">
                                    Projeto: https://nickpi.netlify.app/#/home
                                </li>

                                <li class="list-group-item">
                                    Experiência: +- 1 ano
                                </li>

                                <li class="list-group-item">
                                    Estado Civil: Solteira
                                </li>
                              </ul>
                        </div>
                    </div>
                     
                    <p class="mt-4">
                    "Para realizar grandes conquistas, devemos não apenas agir, mas também sonhar; não apenas 
                     planejar, mas também acreditar." <br>
                     Autor: Anatole France
                    </p>
                </div>
            </div>

        </section>
        
        <section class="container mt-5 section-bg" id="habilidades">

            <div class="container pb-5 ml-2">
                <h2 class="pt-5">Habilidades</h2>
                <p class="mt-3">
                    Durante a minha trajetória até o momento como Desenvolvedora, eu adquiri algumas 
                    habilidades técnicas e não técnicas. Vamos explorar um pouco mais sobre esses conhecimentos abaixo...
                </p>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <p class="mt-3 mb-2">Java</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" 
                            aria-valuemin="0" aria-valuemax="100">75%</div>
                          </div>

                          <p class="mt-3 mb-2">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" 
                            aria-valuemin="0" aria-valuemax="100">70%</div>
                          </div>

                          <p class="mt-3 mb-2">TypeScript</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" 
                            aria-valuemin="0" aria-valuemax="100">70%</div>
                          </div>

                          <p class="mt-3 mb-2">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 72%;" aria-valuenow="72" 
                            aria-valuemin="0" aria-valuemax="100">72%</div>
                          </div>

                          <p class="mt-3 mb-2">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 71%;" aria-valuenow="71" 
                            aria-valuemin="0" aria-valuemax="100">71%</div>
                          </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-2">Angular</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" 
                            aria-valuemin="0" aria-valuemax="100">75%</div>
                          </div>

                        <p class="mt-3 mb-2">Spring Boot</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 73%;" aria-valuenow="73" 
                            aria-valuemin="0" aria-valuemax="100">73%</div>
                          </div>

                          <p class="mt-3 mb-2">MySQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" 
                            aria-valuemin="0" aria-valuemax="100">70%</div>
                          </div>

                          <p class="mt-3 mb-2">Bootstrap</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 69%;" aria-valuenow="69" 
                            aria-valuemin="0" aria-valuemax="100">69%</div>
                          </div>

                          <p class="mt-3 mb-2">Git</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 67%;" aria-valuenow="67" 
                            aria-valuemin="0" aria-valuemax="100">67%</div>
                          </div>
                    </div>

                </div>

                <hr class="mt-5">

                <div class="row mt-4">
                    <div class="col-md-6">
                        <p class="mt-3 mb-2">Trabalho em Equipe</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 88%;" aria-valuenow="88" 
                            aria-valuemin="0" aria-valuemax="100">88%</div>
                          </div>

                          <p class="mt-3 mb-2">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" 
                            aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>

                          <p class="mt-3 mb-2">Orientação a Detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" 
                            aria-valuemin="0" aria-valuemax="100">85%</div>
                          </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-2">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 91%;" aria-valuenow="91" 
                            aria-valuemin="0" aria-valuemax="100">91%</div>
                          </div>

                          <p class="mt-3 mb-2">Persistência</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" 
                            aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>

                          <p class="mt-3 mb-2">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" 
                            aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>
                    </div>
                </div>

            </div>

        </section>

    </main>
    



    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>